[Unit]
Description=init EL100020001

[Service]
ExecStart=/usr/lib/cgi-bin/init_wistcon_020.sh
SyslogIdentifier=init_wistcon_020

[Install]
WantedBy=multi-user.target


