[Unit]
Description=init EL100020001

[Service]
ExecStart=/usr/lib/cgi-bin/init_EL100020001.sh
SyslogIdentifier=init_EL100020001

[Install]
WantedBy=multi-user.target


